{
'.text.html.php':
  'Trongate Add Floating Cents Function (Two Variables Passed)':
    'prefix': 'tgafc'
    'body': 'number_format($${1:dollar_amount}, 2);$0'
    'description': '$number_format($your_dollar_amount, 2);'

  'Trongate Anchor Function':
    'prefix': 'tga'
    'body': "anchor('${1:your_link}');$0"
    'description': "anchor('your_link');"

  'Trongate Class':
    'prefix': 'tgc'
    'body': """
    class ${1:YourClass} extends Trongate {
       ${2:Your code goes here};$0
    }
    """
    'description': 'class YourClass extends Trongate \\{ Your code goes here; \\}'

  'Trongate Config Array Assignment':
      'prefix': 'tgcaa'
      'body': 'config[$${1:your_variable11}] = $${2:your_variable2};$0'
      'description': 'config[$your_variable1] = $your_variable2;'

  'Trongate Data Array Assignment':
    'prefix': 'tgda'
    'body': "$${1:your_arrayName} = '${2:your_function_name}';$0"
    'description': "$your_arrayName = 'your_function_name';"

  'Trongate Echo Current Url Function':
    'prefix': 'tgecu'
    'body': 'echo current_url(${1:your_url});$0'
    'description': 'echo current_url(your url);'

  'Trongate Echo Form Input Function':
    'prefix': 'tgefi'
    'body': "echo form_input('${1:form_name}');$0"
    'description': "echo form_input('$form_name');"

  'Trongate Echo Form Label Function':
    'prefix': 'tgefl'
    'body': "echo form_input('${1:form_label}');$0"
    'description': "echo form_input('form_label');"

  'Trongate Echo Form Submit Function':
    'prefix': 'tgefs'
    'body': "echo form_submit('submit', 'Submit');$0"
    'description': "echo form_submit('submit', 'Submit');"

  'Trongate Form Textarea Function':
    'prefix': 'tgeft'
    'body': "echo form_textarea('${1:your_text}');$0"
    'description': "echo form_textarea('your_text');"

  'Trongate Form Close Function':
    'prefix': 'tgfc'
    'body': 'form_close();$0'
    'description': 'form_close();'

  'Trongate Form File Select Function (Two Variables Passed)':
    'prefix': 'tgffs'
    'body': "form_file_select('${1:form_name}', '${2:form_attributes}');$0"
    'description': "form_file_select('form_name', 'form_attributes');"

  'Trongate Form File Select Function (Three Variables Passed)':
    'prefix': 'tgffs3'
    'body': "form_file_select('${1:form_name}', '${2:form_attributes}', '${3:form_additional_code}');$0"
    'description': "form_file_select('form_name', 'form_attributes', 'form_additional_code');"

  'Trongate Form Open Upload Function':
    'prefix': 'tgfou'
    'body': "form_open_upload(${1:form_location}, ${2:attributes}, ${3:additional_code});$0"
    'description': "form_open_upload($form_location, $attributes, $additional_code);"

  'Trongate Get Nice Date Class':
    'prefix': 'tggnd'
    'body': """
    class TimeDate {
       function get_nice_date($timestamp, $format) {
          switch ($format) {
             case 'full':
                //FULL //Friday 18th of February 2011 at 10:00:00 AM
                $the_date = date('l jS \of F Y \a\t h:i:s A', $timestamp);
                break;
             case 'cool':
                //FULL // Friday 18th of February 2011
                $the_date = date('l jS \of F Y', $timestamp);
                break;
             case 'shorter':
                //SHORTER // 18th of February 2011
                $the_date = date('jS \of F Y', $time_stamp);
                break;
             case 'american':
                //AMERICAN // February 18th 2011
                $the_date = date('F jS Y', $timestamp);
                break;
             case 'mini':
                //MINI // 18th Feb 2011
                $the_date = date('jS M Y'), $timestamp);
                break;
             case 'oldschool':
                //OLDSCHOOL // 18/2/11
                $the_date = ('j\/n\/y', $timestamp);
                break;
             case 'datepicker':
                //DATEPICKER // 18/2/11
                $the_date = date('d\/m\/Y'), $timestamp);
                break;
             case 'datepicker_us':
                //DATEPICKER_US // 2/18/11
                $the_date = date('m\/d\/Y', $timestamp);
                break;
             case 'dateandtimepicker':
                //DATEANDTIMEPICKER // 27th July 2018 - 03:50 pm
                $the_date = date('d F Y - H:i a', $timestamp);
                break;
             case 'monyear':
                //MONYEAR // 18th Feb 2011
                $the_date = date('F Y', $timestamp);
                break;
          }

          return $the_date;
       }

       function _is_datepicker_valid($datepicker) {
          $datepicker_less_slashes = str_replace('/' '', $datepicker);
          $len = strlen($datepicker_less_slashes);

          if ((!is_numeric($datepicker_less_slashes)) || ($len !== 8)) {
             return FALSE;
          } else {
             return TRUE;
          }
       }

       function get_nice_date_from_datepicker($datepicker, $format) {
          $is_valid = $this->_is_datepicker_valid($datepicker);

          if ($is_valid == TRUE) {
             $timestamp = $this->make_timestamp_from_datepicker($datepicker);
             $nice_date = $this->get_nice_date($timestamp, $format);
          } else {
             $nice_date = '-';
         }

         return $nice_date;
         }

      function make_timestamp_from_datepicker($datepicker) {
        $hour = 7;
        $minute = 0;
        $second = 0;

        $day = substr($datepicker, 0, 2);
        $month = substr($datepicker, 3, 2);
        $year = substr($datepicker, 6, 4);
        $timestamp = mktime($hour, $minute, $month, $day, $year);

        return $timestamp;
    }

    function make_timestamp_from_dateandtimepicker($dateandtimepicker) {
        $dateandtimepicker = str_replace('-', '', $dateandtimepicker);
        $timestamp = strtotime($dateandtimepicker);

        return $timestamp;
    }

    function make_timestamp_from_datepicker_us($datepicker) {
        $hour = 7;
        $minute = 0;
        $second = 0;

        $month = substr($datepicker, 0 ,2);
        $day = substr($datepicker, 3, 2);
        $year = substr($datepicker, 6, 4);

        $timestamp = mktime($hour, $minute, $second, $month, $day, $year);

        return $timestamp;
    }

    function make_timestamp($day, $month, $year) {
        $hour = 7;
        $minute = 0;
        $second = 0;
        $timestamp = mktime($hour, $minute, $second, $month, $day, $year);

        return $timestamp;
    }
}
"""
   'description': 'class TimeDate { class statements; )}'

   'Trongate HTML BASE_URL':
      'prefix': 'tghbu'
      'body': '<?= BASE_URL ?>;$0'
      'description': '<?= BASE_URL ?>'

   'Trongate HTML Flash Data':
      'prefix': 'tghfd'
      'body': '<?= flashdata() ?>;$0'
      'description': '<?= flashdata() ?>'

   'Trongate HTML Variable':
      'prefix': 'tghv'
      'body': '<?= $${1:your_variable} ?>;$0'
      'description': '<?= $your_variable ?> '

   'Trongate HTML Validation Errors':
      'prefix': 'tghve'
      'body': '<?= validation_errors(); ?> $0'
      'description': '<?= validation_errors(); ?> '

   'Trongate Logic Expression':
      'prefix': 'tgle'
      'body': '$${1:your_variable} = ${2:your_expression};$0'
      'description': 'your_variable = your_expression;'
}
